.container {
  //width: 100%;
  height: 100vh;

  &__content {
    height: 100vh;

    &__sidenav__toggle {
      position: absolute;
      background: inherit;
      width: 3%;
      height: 100%;
      cursor: ew-resize;

      &-btn {
        position: absolute;
        left: -15px;
        top: 45%;
        z-index: 202;
      }
    }
  }
}
